  html{
    overflow-y: scroll; 
  }
  h1{
    text-align: center;
    color: white; 
    font-size: 5vw;
    margin: 15px;
    display: block;
    font-family: Verdana, Arial, sans-serif;
  }

  p{
    margin-top: 2px;
    margin-bottom: 2px;
  }
 
  .button2 {
    background-color: #00853E;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2vw;
    margin: 15px 25%;
    cursor: pointer;
    border-radius: 8px;
    width: 50%;
    float: left;
    font-family: Verdana, Arial, sans-serif;
  }

/*
 -figure out how to make height of button bigger
 -remove resizability functionality for now
 .button-dice{
    background-color: white;
    border: none;
    color: black;
    padding: 4% 0px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2vw;
    margin: 30% 4%;
    cursor: pointer;
    width: 10%;
    float: right;
 }
*/

.dice-button{
  height: 270px;
  width: 260px;
  background-color: white;
  /*float: right;
  shape-margin: 142px;*/
}

.container {
  display: flex;
}

.game-container{
  display: flex;
  float: right;
}

#col-1 {
  flex: 1;
}

#col-2 {
  flex: 1;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#game {
	display: none;
  background-color: rgba(0, 123, 60, .8);
	border: 2px solid black;
	border-spacing: 3px;
	margin: 25px;
	float: left;
}
#start {
	display: inline;
	
}

#log {
  display: flex;
  flex-direction: column;
	width: 307px;
	height: 92px;
	margin: 0px;
	padding-left: 1px;
	border: 1px solid gray;
	font-family: Consolas, "Courier New", monospace;
	font-size: 13px;
	background-color: #FFFFFF;
	overflow-y: scroll;
}
