<style>
 
  h1{
    text-align: left;
    color: white; 
    font-size: 8vw;
    margin: 60px 12%;
    display: block;
    font-family: Verdana, Arial, sans-serif;
  }

  #gamescreenimage {
    background-image: url(board.PNG);
    background-position: right top;
    background-repeat: no-repeat;
    padding: 15px;
  }
  
  .button {
    background-color: #00853E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 4vw;
    margin: 10px 18%;
    cursor: pointer;
    border-radius: 8px;
    width: 35%;
    float: left;
  }

 .button-dice{
    background-color: white;
    border: none;
    color: black;
    padding: 4% 0px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2vw;
    margin: 30% 4%;
    cursor: pointer;
    width: 10%;
    float: right;
 }

</style>
